.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid white;
    box-shadow: 0px 2px 5px lightgrey;
    align-items: center;
    padding: 15px 40px;
    @media(max-width: 991px) {
        padding: 15px 20px;
    }
    h1 {
        color: var(--dark-blue);
        font-size: 20px;
        font-weight: 900;
        @media(max-width: 991px) {
            font-size: 16px;
        }
    }
    .btn-icon {
        display: flex;
        align-items: center;
        @media(max-width: 991px) {
            width: 50%;
            justify-content: flex-end;
        }
        span {
            margin: 0 5px;
            @media(max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}