@import './assets/styles/_fonts.scss';
@import './assets/styles/_variables.scss';

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}